
Menhaden Scales Aging/Chapter 1 - Data Preprocessing/Cropped/
Menhaden Scales Aging/Chapter 3 - Train on Images/final_model.pth
Menhaden Scales Aging/Chapter 3 - Train on Images/best_model.pth

Menhaden Scales Aging/Inference Script/Raw Image/
Menhaden Scales Aging/Inference Script/Cropped/
Menhaden Scales Aging/Inference Script/result.csv
Menhaden Scales Aging/Inference Script/best_model.pth
Menhaden Scales Aging/Inference Script/sam_vit_b_01ec64.pth
/Menhaden Scales Aging/Inference Script/cropped_sam
Menhaden Scales Aging/Chapter 4 - Multimodal Train and Inference/best_model.pth
Menhaden Scales Aging/Chapter 4 - Multimodal Train and Inference/final_model.pth
Menhaden Scales Aging/Chapter 1 - Data Preprocessing/Raw Image/27061.tif

.quarto/
_site/

Dockerfile
